apispec==4.0.0
argon2-cffi==20.1.0
astropy==4.0.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bagit==1.7.0
beautifulsoup4==4.9.3
bibtexparser==1.2.0
bleach==3.1.5
bravado==11.0.2
bravado-core==5.17.0
bugwarrior==1.7.0
CacheControl==0.11.7
cachetools==4.1.1
calrissian==0.9.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
coloredlogs==14.0
configparser==5.0.1
cryptography==3.1.1
cwl-runner==1.0
cwltool==3.0.20200807132242
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diskcache==5.1.0
dogpile.cache==1.0.2
entrypoints==0.3
feedparser==5.2.1
flasgger==0.9.5
Flask==1.1.2
future==0.18.2
fuzzywuzzy==0.18.0
gobject==0.1.0
google-auth==1.22.1
goprocam==4.1.0
gprof2dot==2019.11.30
gpxpy==1.4.2
gunicorn==20.0.4
humanfriendly==8.2
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
keyring==21.4.0
keyrings.cryptfile==1.3.6
kitchen==1.2.6
kiwisolver==1.2.0
kubernetes==10.0.1
lockfile==0.12.2
lxml==4.6.1
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.9.1
matplotlib==3.3.1
minio==6.0.0
mistune==0.8.4
monotonic==1.5
msgpack==1.0.0
mypy-extensions==0.4.3
nb-clean==2.0.2
nbclean==0.3.2
nbclient==0.5.0
nbconvert==6.0.1
nbformat==5.0.7
nbgrader==0.6.1
nest-asyncio==1.4.0
netifaces==0.10.9
networkx==2.5
notebook==6.1.4
numpy==1.19.2
O365==2.0.11
oauthlib==3.1.0
oda-knowledge-base==0.7.0
oda-node==0.1.42
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
path==15.0.0
path.py==12.5.0
pathlib==1.0.1
pbr==5.5.0
peewee==3.14.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
prov==1.5.1
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycparser==2.20
pycryptodome==3.9.8
pydot==1.4.1
Pygments==2.6.1
PyGObject==3.38.0
pyinstrument==3.2.0
pyinstrument-cext==0.2.2
PyJWT==1.7.1
PyMySQL==0.10.1
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.16.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
Pyzotero==1.4.18
qtconsole==4.7.7
QtPy==1.9.0
rdflib==4.2.2
rdflib-jsonld==0.5.0
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.2
scandir==1.10.0
schema-salad==7.0.20200811075006
SecretStorage==3.1.2
Send2Trash==1.5.0
shellescape==3.4.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.22
sshuttle==1.0.4
stevedore==3.2.2
stringcase==1.2.0
swagger-spec-validator==2.7.3
swaggerpy==0.2.1
taskw==1.2.0
tenacity==5.1.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.55.0
traitlets==5.0.4
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.10
vext==0.7.4
vext.gi==0.7.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
