<html>
    <head>
      <title>Some trails</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <style>
        .tooltip-inner {
            color: #a0a0a0;
            max-width: 800px;
        }
        .jumbotron{
                height: 100vh;
        }
        .routebar img {
                width: 100%;
                height: 100%;
        }
      </style>
    </head>
    <body>
        <!-- <div class="page-header">
            <h1>Trail running routes</h1>
            Some more advanced analysis of strava <b>trail running routes</b> including rather useful predictions for <b>route moving time</b> and assesment of <b>possible difficulties</b>
        </div> -->
          <div class="container-fluid">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <div class="row align-self-center justify-content-center">
                <br>
            </div>
            <div class="row align-self-center justify-content-center">
                <div class="col-sm-0 col-md-0 col-lg-2">
                </div>
                <div class="col-md-12 col-lg-8 col-sm-12 d-flex align-items-center justify-content-center">
                    <div class="btn-group btn-group-lg">
                {% if user_name %}
                    <a href="/logout"><button type="button" class="btn btn-primary btn-lg mr-1">{{ user_name }}</button></a>
                    <a href="/routes"><button type="button" class="btn btn-success btn-lg mr-1">routes</button></a>
                    <a href="/activities"><button type="button" class="btn btn-secondary btn-lg mr-1">activities</button></a>
                    <a href="/choose-model"><button type="button" class="btn btn-warning btn-lg mr-1">choose model</button></a>
                    <a href="/clear-cache"><button type="button" class="btn btn-danger btn-lg mr-1">recompute</button></a>
                {% else %}
                    <a href="{{ auth_url }}"><button type="button" class="btn btn-warning btn-lg">
                    sing-in with strava
                    </button></a>
                {% endif %}
                    </div>
                </div>
                <div class="col-sm-0 col-md-0 col-lg-2">
                </div>
            </div>

            <div class="row align-self-center">
                <div class="col-sm-0 col-md-0 col-lg-2">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                {% block content %}
                {% endblock content %}
                </div>
                <div class="col-sm-0 col-md-0 col-lg-2">
                </div>
            </div>

          </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>

        <script>
            $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </body>
</html>
