{% extends "layout.html" %} 
{% block content %}
        <table class="table table-striped" width="100%">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">D</th>
              <th scope="col">D+&nbsp;gain</th>
              <th scope="col">E[time]</th>
              <th scope="col">E[kCal]</th>
              <th scope="col">composition</th>
            </tr>
          </thead>
          <tbody>
          {% for route in routes %}
            <tr>
              <td>{{ route.name }}</td>
              <td>{{ (0.001*route.distance) | round(1) }}&nbsp;km</td>
              <td>{{ route.elevation_gain | int }}&nbsp;m</td>
              <td>
                  {{ (route.analysis.total_time_estimate_s / 3600.0) | round(2)}}&nbsp;hr&nbsp;<i style="color:#a0a0a0">({{ (route.estimated_moving_time / 3600.0) | round(2)}}&nbsp;hr)</i>
              </td>
              <td>
                  {{ (route.analysis.total_time_estimate_s / 3600.0 * 700.0) | int }}
              </td>
              <td>
                  <a  data-toggle="tooltip" data-html="true" title='
<div>
<table style="color:#a0a0a0;" cellpadding=5px>
{% for mode, mode_s in route.analysis.modes.items() %}
<tr>
    <td>{{ mode }}</td>
    <td> {{ mode_s.time_fraction_pc | int }}&nbsp;% </td>
    <td> {{ mode_s.vam | int }}&nbsp;VAM </td>
    <td> {{ mode_s.elevation_gain_m | int }}&nbsp;m </td>
    <td> {{ mode_s.vdm | int }}&nbsp;VDM </td>
    <td> {{ mode_s.elevation_loss_m | int }}&nbsp;m </td>
    <td> {{ mode_s.kmh | round(1) }}&nbsp;km/h </td>
    <td> {{ (mode_s.distance_m/1000.0) | round(2)}}&nbsp;km </td>
    <td> {{ (mode_s.grade_av) | int }}&nbsp;% </td>
</tr>
{% endfor %}
</table>
</div>
'><img class="routebar"  height="30px" width="100%" src="/images/bar/{{ route.analysis.modes_string }}"/></a>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock content %}
